<div>
  <ul class="blog_tabs">
    <li><app-typography [weight]="'semibold'">View all</app-typography></li>
    <li><app-typography [weight]="'semibold'">Design</app-typography></li>
    <li><app-typography [weight]="'semibold'">Product</app-typography></li>
    <li><app-typography [weight]="'semibold'">Development</app-typography></li>
    <li><app-typography [weight]="'semibold'">Customer Support</app-typography></li>
    <li><app-typography [weight]="'semibold'">Leadership</app-typography></li>
    <li><app-typography [weight]="'semibold'">Management</app-typography></li>
    <li><app-typography [weight]="'semibold'">Interviews</app-typography></li>
  </ul>
</div>
  