:host {
    --font-size-xxxxl: 46px;
    --font-size-xxxl: 38px;
    --font-size-xxl: 28px;
    --font-size-xl: 20px;
    --font-size-l: 18px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --font-size-xs: 12px;
    --font-size-xxs: 10px;
    // font weight
    --font-weight-regular: normal;
    --font-weight-semibold: 600;
    --font-weight-bold: bold;

    // colors
    --app-grey:#a8a8a8;
}

  