<div class="mt-5 mb-5">
    <div class="d-flex justify-content-between">
        <div>
            <app-typography [weight]="'semibold'" [size]="'xxxxl'">Untitled Blog</app-typography>
            <div class="input-group mt-5">
                <input type="text" class="form-control" name="email" placeholder="Enter your email">
                <span class="input-group-btn">
                    <button class="btn btn-dark" type="button">Subscribe</button>
                </span>
            </div>
        </div>
        <div class="subscribe_section_info">
            <app-typography [size]="'l'">
                New product features, the latest in technology, solutions and updates.
            </app-typography> 
        </div>

    </div>
</div>